body {
	color: #43766C;
	background: #F8FAE5;
	a {color: #FF8383}
	a:visited 
  	color:#FB773C;
}
p {
  font-family: Comfortaa;
}
a.one:link {color:#FFCCEA;}
a.one:visited {color:#FB773C;}
a.one:hover {color:#FFF4B7;}

body {
 background-image: url('WPP.png');
	background-repeat: repeat-x;
	background-repeat: repeat-;
	background-attachment: fixed;

 }

<link href=3D"https://fonts.googleapis.com/css?family=3DSource+Sans+Pro&dis=
play=3Dswap" rel=3D"stylesheet" />
<link href=3D"https://fonts.googleapis.com/css?family=3DMontserrat:800&disp=
lay=3Dswap" rel=3D"stylesheet" />
<link href=3D"https://fonts.googleapis.com/css2?family=3DNoto+Sans+JP&displ=
ay=3Dswap" rel=3D"stylesheet">
<link href=3D"https://fonts.googleapis.com/css2?family=3DKanit&display=3Dsw=
ap" rel=3D"stylesheet">
